.main{
    background-color: #30363d;
    color: white;
    height: 60rem;
    
}

.header{
    color: white;
    height: 6rem;
    display: grid;
    grid-template-columns: 1fr 5fr;

}

.dashboard{
    display: grid;
    grid-column: 1/2;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: large;
}


.three{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 10rem;
    
}

.subscriber{
    
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 8rem;
    width: 20rem;
    background-color: black;

}

.revenue{
    
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 8rem;
    width: 20rem;
    background-color: black;
}

.trip{
    
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 8rem;
    width: 20rem;
    background-color: black;
}

.chart{
    color:rgb(162, 71, 71);
    height: 30rem;
    background-color: black;
}

.textcol{
    color: white;
}
