
.main{   
    width: 100%;
    height: 4rem;
    display: grid;
    background-color:#7FC7D9;
    grid-template-columns: 6rem 1fr 3fr 2.5fr 6rem;
    
    box-shadow: rgba(50,50,93,0.25) 0px 50px 100px -20px,
    rgba(0,0,0,0.3) 0px 30px 60px -30px;
    
}

.logo{
    display: grid;
    
    grid-column: 2/3;

    height: 4rem;
    justify-content: start;
    align-items: center;
}



.linkList{
    list-style: none;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    
    margin-top: 0%;
    
}


.menuList{
    grid-column: 3/4;
    height: 4rem;
    
    
}

.profile{
    grid-column: 4/5;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
   

}

.null{
    height: 4rem;
    grid-column: 1/2;
  
    order: -1;
}

@media (max-width: 1080px) {
    .main{
        grid-template-columns: 2rem 2fr 3fr 2fr 2rem;
    }

}

